{% extends 'base.html.twig' %}
{% block title 'Voir tous nos biens' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
             <div class="form-group">
                <div class='form-row'>
                    <div class='col'>
                        {{ form_row(form.minSurface) }}
                    </div>
                    <div class='col'>
                        {{ form_row(form.maxPrice) }}
                    </div>
                    <div class='col-2'>
                        <button class='btn btn-dark'>Rechercher</button>
                    </div>
                </div>
            </div>
             <div class="form-group">
                {{ form_row(form.options) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <div class='row'>
            {% for property in properties %}
                <div class='col-md-4'>
                    {% include 'property/listProperty.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class='pagination' style='width:500px; margin: 0 auto;'>
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}
